:root {
  /* Color scheme */
  --white: #ffffff;
  --platinum: #e8ebe4;
  --gray: #bec1bb;
  --blue-bell: #a491d2;
  --soap: #cdc3e6;
  --pale-lavender: #d4dcff;
  --dark-jungle: #1b1f21;
  --outer-space: #444749;
  --old-silver: #828485;
  /* Font sizes */
  --large: 45px;
  --medium: 16px;
  --small: 14px;
  --x-small: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  width: auto;
}

.sidebar {
  display:flex;
  flex-flow: column nowrap;
}

.usuario {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.tiny-thumbnail {
  height:45px;
  width: auto;
  border-radius: 50%;
}

.small-thumbnail {
  height: 65px;
  width: auto;
  border-radius: 50%;
}

.chat {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  text-align: center;
}

.chat .logo {
  height: auto;
  max-width: 100px;
}

.btn {
  }